# Master Branch Code

## How does the climate impact visitation to the U.S. National Parks?

### Hypothesis: Increasing average annual temperature has a positive correlation with the total number of registered visitors to the U.S. National Parks annually.

#### Team Members: Andy Swellie, Nick Marchetti, Tony "The IT Guy" Elkadi, Kevin Coyne

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os

### Call the National Parks API to get parks names and locations - Anthony

### Pull in CSV files of visitor data by park and build data frames - Andy

In [10]:
park_visits = "Top10_Parks_Visits/Top10_Park_Visits.csv"
park_visits_df = pd.read_csv(park_visits, encoding="utf-8")

park_visits_df.head(1500)

                      Park  Year  Month  Visits
0     Acadia National Park  2018      1   11974
1     Acadia National Park  2018      2   12167
2     Acadia National Park  2018      3   23756
3     Acadia National Park  2018      4   72858
4     Acadia National Park  2018      5  249050
5     Acadia National Park  2018      6  499163
6     Acadia National Park  2018      7  759165
7     Acadia National Park  2018      8  767219
8     Acadia National Park  2018      9  600397
9     Acadia National Park  2018     10  488204
10    Acadia National Park  2018     11   40930
11    Acadia National Park  2018     12   12692
12    Acadia National Park  2017      1   15520
13    Acadia National Park  2017      2   14342
14    Acadia National Park  2017      3   20936
15    Acadia National Park  2017      4   85267
16    Acadia National Park  2017      5  222978
17    Acadia National Park  2017      6  476191
18    Acadia National Park  2017      7  743529
19    Acadia National Park  2017      8  762436
20    Acadia National Park  2017      9  595388
21    Acadia National Park  2017     10  507594
22    Acadia National Park  2017     11   53006
23    Acadia National Park  2017     12   12084
24    Acadia National Park  2016      1   17204
25    Acadia National Park  2016      2   16530
26    Acadia National Park  2016      3   28121
27    Acadia National Park  2016      4   94199
28    Acadia National Park  2016      5  217147
29    Acadia National Park  2016      6  445410
...                    ...   ...    ...     ...
1170    Zion National Park  2011      7  391144
1171    Zion National Park  2011      8  360196
1172    Zion National Park  2011      9  324727
1173    Zion National Park  2011     10  273876
1174    Zion National Park  2011     11  145158
1175    Zion National Park  2011     12   76687
1176    Zion National Park  2010      1   54928
1177    Zion National Park  2010      2   62099
1178    Zion National Park  2010      3  171079
1179    Zion National Park  2010      4  277599
1180    Zion National Park  2010      5  304278
1181    Zion National Park  2010      6  331185
1182    Zion National Park  2010      7  362881
1183    Zion National Park  2010      8  332796
1184    Zion National Park  2010      9  319838
1185    Zion National Park  2010     10  236316
1186    Zion National Park  2010     11  143272
1187    Zion National Park  2010     12   69701
1188    Zion National Park  2009      1   60204
1189    Zion National Park  2009      2   62964
1190    Zion National Park  2009      3  167246
1191    Zion National Park  2009      4  271709
1192    Zion National Park  2009      5  296330
1193    Zion National Park  2009      6  366004
1194    Zion National Park  2009      7  368933
1195    Zion National Park  2009      8  372157
1196    Zion National Park  2009      9  306161
1197    Zion National Park  2009     10  265095
1198    Zion National Park  2009     11  132998
1199    Zion National Park  2009     12   65601

[1200 rows x 4 columns]

### Create a list of dates to use in the weather API calls - Nick

### Weather API calls & Data Frames - Kevin & Nick