In [1]:
import pandas as pd

In [2]:
file = "avg_by_month.csv"
new_df = pd.read_csv(file)
new_df.head()

                   Park  Year  Month       Temp
0  Acadia National Park  2009      1  21.501818
1  Acadia National Park  2009      2  28.770000
2  Acadia National Park  2009      3  32.956000
3  Acadia National Park  2009      4  45.278000
4  Acadia National Park  2009      5  54.897273

In [3]:
new_df["Vistors"] = ""
new_df.head()

                   Park  Year  Month       Temp Vistors
0  Acadia National Park  2009      1  21.501818
1  Acadia National Park  2009      2  28.770000
2  Acadia National Park  2009      3  32.956000
3  Acadia National Park  2009      4  45.278000
4  Acadia National Park  2009      5  54.897273

In [4]:
file = "national_parks.csv"
coords_df = pd.read_csv(file)

coords_df.head()

merged_df = pd.merge(new_df, coords_df, how="inner")

merged_df.head()

                   Park  Year  Month       Temp Vistors        Lat        Lng
0  Acadia National Park  2009      1  21.501818          44.338556 -68.273335
1  Acadia National Park  2009      2  28.770000          44.338556 -68.273335
2  Acadia National Park  2009      3  32.956000          44.338556 -68.273335
3  Acadia National Park  2009      4  45.278000          44.338556 -68.273335
4  Acadia National Park  2009      5  54.897273          44.338556 -68.273335

In [5]:
merged_df.to_csv("with_coords.csv", index = False, header = True)