In [15]:
import gmaps
import pandas as pd


# Google developer API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

In [16]:
final_df = pd.read_csv('final_merge_data.csv')
final_df.head()

                   Park  Year  Month       Temp        Lat        Lng  Visits
0  Acadia National Park  2009      1  21.501818  44.338556 -68.273335    9366
1  Acadia National Park  2009      2  28.770000  44.338556 -68.273335    9751
2  Acadia National Park  2009      3  32.956000  44.338556 -68.273335   19258
3  Acadia National Park  2009      4  45.278000  44.338556 -68.273335   59277
4  Acadia National Park  2009      5  54.897273  44.338556 -68.273335  129885

In [17]:
# Store latitude and longitude in locations
locations = final_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
#rating = final_df["Temp"].astype(float)

# Plot Heatmap
#fig = gmaps.figure()

# Create heat layer
#heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 #dissipating=False, max_intensity=1000,
                                 #point_radius=1)
marker_locations = locations
markers = gmaps.marker_layer(marker_locations)
fig.add_layer(markers)

# Add layer
#fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))