In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import os
from pprint import pprint
import csv
import gmaps
import datetime

In [17]:
park_visits = "Top10_Parks_Visits/Top10_Park_Visits.csv"
park_visits_df = pd.read_csv(park_visits, encoding="utf-8")

park_visits_df.head()

                   Park  Year  Month  Visits
0  Acadia National Park  2018      1   11974
1  Acadia National Park  2018      2   12167
2  Acadia National Park  2018      3   23756
3  Acadia National Park  2018      4   72858
4  Acadia National Park  2018      5  249050

In [16]:
parks_weather_coords = "with_coords.csv"
parks_weather_coords_df = pd.read_csv(parks_weather_coords, encoding="utf-8")

parks_weather_coords_df.head()

                   Park  Year  Month       Temp  Vistors        Lat        Lng
0  Acadia National Park  2009      1  21.501818      NaN  44.338556 -68.273335
1  Acadia National Park  2009      2  28.770000      NaN  44.338556 -68.273335
2  Acadia National Park  2009      3  32.956000      NaN  44.338556 -68.273335
3  Acadia National Park  2009      4  45.278000      NaN  44.338556 -68.273335
4  Acadia National Park  2009      5  54.897273      NaN  44.338556 -68.273335

In [28]:
final_merge_data = pd.merge(parks_weather_coords_df, park_visits_df, left_on=["Park", "Year", "Month"], right_on=["Park", "Year", "Month"], how="outer")
del final_merge_data["Vistors"]
final_merge_data.head()

                   Park  Year  Month       Temp        Lat        Lng  Visits
0  Acadia National Park  2009      1  21.501818  44.338556 -68.273335    9366
1  Acadia National Park  2009      2  28.770000  44.338556 -68.273335    9751
2  Acadia National Park  2009      3  32.956000  44.338556 -68.273335   19258
3  Acadia National Park  2009      4  45.278000  44.338556 -68.273335   59277
4  Acadia National Park  2009      5  54.897273  44.338556 -68.273335  129885